
@mixin btn {
  align-items: center;
  border-radius: 2px;
  display: flex;
  font-size: 1.6rem;
  height: 48px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 311px;
  text-decoration: none;
}

.mod-nextBtn {
  @include btn();

  background-color: #45b035;
  color: #fff;
}

.mod-linkBtn {
  @include btn();

  color: #999796;
  font-size: 1.3rem;
  margin-top: 10px;
  text-decoration: underline;
}

.mod-ghostBtn {
  @include btn();

  color: #45B035;
  border: 1px solid #45B035;
  background-color: transparent;
}
