
@mixin btn {
  align-items: center;
  border-radius: 2px;
  display: flex;
  font-size: 1.6rem;
  height: 48px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 311px;
}

.mod-nextBtn {
  @include btn();

  background-color: #45b035;
  color: #fff;
}
