.is-active {
  display: block;
}

.is-hidden {
  display: none;
}

.is-fadeIn {
  opacity: 1;
}

.is-fadeOut {
  opacity: 0;
}

.is-positonFixed {
  position: fixed;
}

.is-positonStatic {
  position: static;
}
