.pageHeader {
  align-items: center;
  background-color: #45b035;
  color: #fff;
  display: flex;
  height: 65px;
  justify-content: center;
  left: 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.pageHeader_inner {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  position: relative;
  width: 100%;
}

.pageHeader_title {
  font-size: 1.8rem;
}

.pageHeader_backBtn {
  left: 24px;
  position: absolute;
  top: 3px;
}

.pageHeader_backBtnArrow {
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  display: inline-block;
  height: 15px;
  transform: rotate(-45deg);
  width: 15px;
}
